@{
    ViewData["PoketStats"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PokeStats</h1>
    <p>El inicio de la app de  pokemos Stasts y demas cosas</p>
    <h2>
        @ViewBag.Nombre
    </h2>
</div>
